#categories-container {
  background-color: var(--comp-bg-color);
  box-shadow: var(--comp-box-shadow);
  border: 1px solid rgba(black, 0.2);
  width: 270px;
  height: 400px;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;

  .sidebar-item {
    height: 400px;
    width: 0;
    position: absolute;
    z-index: 40;
    top: 0;
    left: 0;
    background-color: var(--comp-bg-color);
    overflow-x: hidden;
    transition: 0.2s ease-in;

    span {
      text-decoration: none;
      color: black;
    }

    table {
      font-size: 15px;
      color: black;
      margin-top: 40px;
      width: 100%;
      padding: 5px;
      letter-spacing: var(--text-spacing-px);

      caption {
        font-weight: bold;
        font-size: 18px;
      }

      tr {
        td {
          &:hover {
            color: var(--text-hover-color);
            cursor: pointer;
          }
        }
      }
    }
  }

  .open-sidebar {
    width: 270px;
  }
  .close-sidebar {
    width: 0;
  }
  .sidebar-item .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    &:hover {
      color: var(--toggle-hover-color);
    }
  }

  .topCom-item {
    div {
      background-color: var(--header-bg-color);
      padding: 7px;
      border-bottom: 1px solid black;
      margin: 0;

      h4 {
        margin-top: 20px;
        margin-bottom: 0;
      }
      h4,
      span {
        color: white;
      }
      span {
        font-size: 20px;
        &:hover {
          color: var(--toggle-hover-color);
        }
      }
    }

    ol {
      cursor: pointer;
      padding: 0;
      list-style-type: none;
      letter-spacing: var(--text-spacing-px);
      line-height: 2;

      li {
        border-bottom: 1.1px solid rgba(black, 0.2);
        padding: 5px;
        font-size: 15px;

        &:hover {
          color: white;
          background: var(--list-hover-color);
        }
        span {
          padding: 25px;
        }
      }
    }
  }

  button {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: var(--btn-spacing-px);
    background-color: var(--btn-bg-color);
    border: 0;

    &:hover {
      background-color: rgba(#0079d3, 0.5);
      transition: all 0.2s;
    }
    &:focus {
      outline: 0;
    }
    a {
      color: white;
    }
  }
}

// @media screen and (max-height: 450px) {
//   .sidebar-item {
//     padding-top: 15px;
//   }
//   .sidebar-item a {
//     font-size: 18px;
//   }
// }
